body{
  background-color: beige;
  font-family: 'Courier New', monospace;
}

#topbar{
  width:100vw;
  background-color:black;
  color:green;
  text-align: center;
  margin-top:0%;
}

button{
  background-color:lightgreen;
  border-color:green;
  border-radius: 12px;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Courier New', monospace;
}

#Menu{
    display:block;
    margin-top:17%;
    width: 100vw;
    height: 101px;
}

.mmButton{
  width:200px;
  height:100px;
  margin-left: 17%;
  display:inline-block;
}

.qbButton{
  display:none;
  width:250px;
  height:100px;
  margin:2%;
}

.returnButton{
  display:none;
  width:200px;
  height:100px;
  margin-left:16%;
}

#questionBank{
  display:block;
  margin:auto;
  float:right;
  width:80vw;
}

#Question{
  display:none;
  text-align: center;
  margin-left: 41%;
  margin-top: 5%;
  padding:0px;
  font-size: 40px;
  width:300px;
}

#timer{
  display:none;
  text-align:center;
  margin: auto;
  font-size: 40px;
  width:300px;
}
