#topbar{
  width:100vw;
  background-color:black;
  color:green;
  text-align: center;
}

button{
  background-color:lightgreen;
  border-color:green;
  border-radius: 12px;
}

#Menu{
    display:block;
    margin-top:17%;
    width: 100vw;
    height: 101px;
}

.mmButton{
  width:200px;
  height:100px;
  margin-left: 17%;
  display:inline-block;
}

.qbButton{
  display:none;
  width:200px;
  height:100px;
  margin:3%;
  padding:10px;
}

.returnButton{
  display:none;
  width:200px;
  height:100px;
  margin:2%;
}

#questionBank{
  display:block;
  margin:auto;
  width:550px;
}

#Question{
  display:none;
  margin-left: 41%;
  margin-top: 5%;
  font-size: 40px;
  width:300px;
}

#timer{
  display:none;
  text-align:center;
  margin: auto;
  font-size: 40px;
  width:300px;
}
